{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
  <div class="container">


<h2>Registered Users</h2>


<ul>

{% for user in users %}
<li>
{{ user.name}}
<ul>
  <li> {{user.userName}} </li>
  <li> {{user.password}} </li>
</ul>
</li>

{% endfor %}

</ul>
<button id="btnDeleteUsr" class="btn btn-lg btn-primary btn-block" type="button">Delete Registered User</button>
</div>



     <script>
$(function() {
    $('#btnDeleteUsr').click(function() {
	
        $.ajax({
            url: '/delete',
            type: 'POST',
            success: function(response) {
                console.log(response);
                document.location.href = '/users';
            },
            error: function(error) {
                console.log(error);
            }
        });
    });
});
    </script>
	
	
{% endblock %}
