<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
  <div class="container">


<h2>Full Ratings of Courses</h2>

<table class = "table" >
	<tr>
	<th>Course/Faculty</br><a href="?order_by=course_faculty"><i class="fa fa-fw fa-sort-asc"></i></a><a href="?order_by=-course_faculty"><i class="fa fa-fw fa-sort-desc"></i></a></th>
	<th>Usefulness</br><a href="?order_by=usefulness"><i class="fa fa-fw fa-sort-asc"></i></a><a href="?order_by=-usefulness"><i class="fa fa-fw fa-sort-desc"></i></a></th>
	<th>Overall Quality</br><a href="?order_by=overall_quality"><i class="fa fa-fw fa-sort-asc"></i></a><a href="?order_by=-overall_quality"><i class="fa fa-fw fa-sort-desc"></i></a></th>
	<th>Lecture Quality</br><a href="?order_by=lecture_quality"><i class="fa fa-fw fa-sort-asc"></i></a><a href="?order_by=-lecture_quality"><i class="fa fa-fw fa-sort-desc"></i></a></th>
	<th>Oral/Written Tests Helpful</br><a href="?order_by=oral_written_tests_helpful"><i class="fa fa-fw fa-sort-asc"></i></a><a href="?order_by=-oral_written_tests_helpful"><i class="fa fa-fw fa-sort-desc"></i></a></th>
	<th>Learned Much in Class</br><a href="?order_by=learned_much_info"><i class="fa fa-fw fa-sort-asc"></i></a><a href="?order_by=-learned_much_info"><i class="fa fa-fw fa-sort-desc"></i></a></th>
	</tr>
    

{% for obj in rating_average %}
	<tr>
	<td><a href="{% url 'comments' comments_id=obj.course_faculty %}">{{obj.course_faculty}}</td>
	<td>{{obj.usefulness}}</td>
	<td>{{obj.overall_quality}}</td>
	<td>{{obj.lecture_quality}}</td>
	<td>{{obj.oral_written_tests_helpful}}</td>
	<td>{{obj.learned_much_info}}</td>
	</tr>
{% endfor %}





	
	
{% endblock %}
