{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
  <div class="container">


<h2>Rating History</h2>

<table class = "table" >
	<tr>
	<th><a href="?order_by=course">Course</a></th>
	<th><a href="?order_by=usefulness">Usefulness</a></th>
	<th><a href="?order_by=overall_quality">Overall Quality</a></th>
	<th><a href="?order_by=lecture_quality">Lecture Quality</a></th>
	<th><a href="?order_by=oral_written_tests_helpful">Oral/Written Tests Helpful</a></th>
	<th><a href="?order_by=learned_much_info">Learned Much in Class</a></th>
	</tr>
    

{% for obj in history %}
	<tr>
	<td>{{obj.course}}</td>
	<td>{{obj.usefulness}}</td>
	<td>{{obj.overall_quality}}</td>
	<td>{{obj.lecture_quality}}</td>
	<td>{{obj.oral_written_tests_helpful}}</td>
	<td>{{obj.learned_much_info}}</td>
	</tr>
{% endfor %}


{% endblock %}
