<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>CRANK</title>
 
 
    <link href="../static/bootstrap.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
 
 
</head>
 
<body>
 
    <div class="container">

        <div class="jumbotron">
            <h1>Crank</h1>
            <p class="lead"></p>
            <p><a class="btn btn-lg btn-success" href="login" role="button">Login</a>
            <p><a class="btn btn-lg btn-success" href="signup" role="button">Sign Up</a>
            </p>
        </div>
 
        <footer class="footer">
            <p>&copy; Crank 2017</p>
        </footer>
 
    </div>
</body>
 
</html>

