{% extends 'base.html' %}

{% block content %}
  <h2>Search by Course or Professor</h2>
  <form method="get">
    {% csrf_token %}
    {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
    <button type="submit">Search</button>
  </form>

{% if rating_average %}
  <div class="container">
<h2>Results</h2>

<table class = "table" >
	<tr>
	<th><a href="?order_by=course_faculty">Course/Faculty</a></th>
	<th><a href="?order_by=usefulness">Usefulness</a></th>
	<th><a href="?order_by=overall_quality">Overall Quality</a></th>
	<th><a href="?order_by=lecture_quality">Lecture Quality</a></th>
	<th><a href="?order_by=oral_written_tests_helpful">Oral/Written Tests Helpful</a></th>
	<th><a href="?order_by=learned_much_info">Learned Much in Class</a></th>
	</tr>
    

{% for obj in rating_average %}
	<tr>
	<td>{{obj.course_faculty}}</td>
	<td>{{obj.usefulness}}</td>
	<td>{{obj.overall_quality}}</td>
	<td>{{obj.lecture_quality}}</td>
	<td>{{obj.oral_written_tests_helpful}}</td>
	<td>{{obj.learned_much_info}}</td>
	</tr>
{% endfor %}

{% endif %}
	
{% endblock %}


